---
version: 2.1

workflows:
  version: 2
  main:
    jobs:
      - lint
      - configcheck

jobs:
  lint:
    docker:
      - image: singapore/lint-condo
    steps:
      - checkout
      - run:
          'yamllint .'
  configcheck:
    docker:
      - image: honeydipper/honeydipper:2.1.0
    steps:
      - checkout
      - run:
          command: /opt/honeydipper/drivers/builtin/honeydipper configcheck
          environment:
            REPO: .
