---
workflows:
  start_kube_job:
    on_failure: exit
    steps:
      - name: interpolating predefined variables
        export:
          steps: |
            :yaml:---
            {{- $predefined := .ctx.predefined_steps }}
            {{- range .ctx.steps }}
            {{- if (typeIs "string" .) }}
            - {{ index $predefined . | toJson }}
            {{- else }}
            - {{ toJson . }}
            {{- end }}
            {{- end }}
          env: |
            :yaml:---
            {{- $predefined := .ctx.predefined_env }}
            {{- range .ctx.env }}
            {{- if (typeIs "string" .) }}
            - {{ index $predefined . | toJson }}
            {{- else }}
            - {{ toJson . }}
            {{- end }}
            {{- else }}
            []
            {{- end }}
          volumes: |
            :yaml:---
            {{- $predefined := .ctx.predefined_volumes }}
            {{- range .ctx.volumes }}
            {{- if (typeIs "string" .) }}
            - {{ index $predefined . | toJson }}
            {{- else }}
            - {{ toJson . }}
            {{- end }}
            {{- else }}
            []
            {{- end }}
      - name: build job manifest file
        export:
          jobTemplate: "@:resources/honeydipper-job.yaml.tmpl"
      - name: create job with kubernetes API
        function:
          target:
            system: $ctx.system
            function: createJob
        with:
          job: $ctx.jobTemplate
    no_export:
      - steps
      - env
      - volumes
      - jobTemplate

  run_kubernetes:
    on_failure: exit
    steps:
      - name: start kubernetes job
        workflow: start_kube_job
      - on_failure: continue
        steps:
          - name: wait for job
            function:
              target:
                system: $ctx.system
                function: waitForJob
          - name: output job log
            function:
              target:
                system: $ctx.system
                function: getJobLog
